.details-button-state, 
.details-button-edit,
 .details-button-delete{
   width: 90px;
    height: 40px !important;
    font-size: 15px !important;
    align-items: center !important;
    padding: 10px !important;
    border-radius: 60px !important;
    justify-content:center!important;
    text-transform: uppercase !important;
    letter-spacing: 0.2em !important;
    text-align: center;
    
  
}

.details-button-delete{
    background-color: red;
    color: white;
}
.details-button-edit{
    background-color: rgb(151, 214, 50);
    color: white;
}