#container{
  background-color:rgb(226, 187, 87);
  font-family: 'Myriad Pro Regular';
  border-radius: 14px;
  border-color: blue;
  border-width: 1px;
}

#card-title {
  align-items: center;
    width: auto;
  
    height: 50px;
    font-weight: 300;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 10px;
    
  }

  .card-button,.card-button-delete{
    height: auto;
    width: auto;
    align-items: center;
    padding: 10px;
    border-radius: 60px;
    justify-content: space-around;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    display:inline;
  
}
.card-button:hover{
    background-color: purple;
    color: white;
}
.card-button-delete:hover{
    background-color: red;
    color: white;
}

.addCard {
  align-items: center;
    width: auto;
    height: 180px;
    font-weight: 300;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 10px;

    
  }

  #container-add {
    align-items: center;
    width: auto;
    height: 20px;
      font-weight: 300;
      margin-left: 30px;
      margin-right: 20px;
      margin-bottom: 10px;
      background-color:transparent;
      
      
    }
  
    #card-title-add{
      align-items: center;
      width: auto;
      font-weight: 300;
      margin-left: 30px;
      margin-right: 20px;
      margin-bottom: 10px;
  
    }