
#container{
  background-color:rgb(226, 187, 87);
  font-family: 'Myriad Pro Regular';
  border-radius: 14px;
  border-color: blue;
  border-width: 1px;
}

#card-title {
  align-items: center;
    width: auto;
    height: 50px;
    font-weight: 300;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 3px;
    
  }

  .card-button,.card-button-delete, #dropdown-basic-button{

    height: auto;
    width: auto;
    align-items: center;
    padding: 10px;
    border-radius: 60px;
    justify-content: space-around;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    display:inline;
  
}
.card-button-details{

  background-color: transparent;
  height: 5px;
  font-size: 40px;
  align-items: center;
  border-style: none;

}
.card-button:hover{
  
    background-color: purple;
    color: white;
}
.card-button-delete:hover{
    background-color: red;
    color: white;
}

#container:hover .card-button-see-details{
  visibility: visible;
}
#container:hover #dropdown-basic-button{
  visibility: visible;
}
.card-button-see-details, .Button, #dropdown-basic-button{
  background-color: transparent !important;
  color: black !important;
  visibility: hidden;
  font-weight: 1000 !important;
  font-family: 'Myriad Pro Regular';
  height: auto;
  width: auto ;
  align-items: center !important;
  padding: 10px !important;
  border-radius: 60px !important;
  justify-content: space-around !important;
  font-size: 11px !important;
  text-transform: uppercase !important;
  letter-spacing: 0.2em !important;

}



.addCard {
  align-items: center;
    width: auto;
    height: 180px;
    font-weight: 300;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 10px;

    
  }

  #container-add {
    align-items: center;
    width: auto;
    height: 20px;
      font-weight: 300;
      margin-left: 30px;
      margin-right: 20px;
      margin-bottom: 10px;
      background-color:transparent;
      
      
    }
  
    #card-title-add{
      align-items: center;
      width: auto;
      font-weight: 300;
      margin-left: 30px;
      margin-right: 20px;
      margin-bottom: 10px;
  
    }