
.list-group-itemF{
    background-color:rgb(226, 187, 87);
    font-family: 'Myriad Pro Regular';
    border-radius: 14px;
    border-color: blue;
    border-width: 1px;
    width: 50px;
}
.my-notes-list .list-group-item{
    width: 60%;
    left: 20%;
}