
.list-group-itemF{
    font-family: 'Myriad Pro Regular';
    border-radius: 14px;
    border-color: blue;
    border-width: 1px;
    width: 50px;
}
.my-notes-list .list-group-item{
    width: 60%;
    left: 20%;
}

.col-title-text, .my-user{

    font-size: 1.4em;
    color: coral;
    font-weight: 500;
    font-family: 'Myriad Pro Regular' !important;
}
