

nav,
footer, .header-container, .navbar-expand-lg {

    justify-content: space-around;
    font-family: 'Myriad Pro Regular' !important;
    font-weight: bold;
    /* margin-bottom: 0!important; */
    
}

.nav-link{   text-decoration: none;
    border-radius: 50%;
    padding: 0.5em;
    text-transform: uppercase;
    color:black !important
}


nav a:hover {
    background-color:rgb(216, 135, 13);

}

#logged-as{
    color:rgb(216, 135, 13) !important;
}
nav:hover #logged-as{
  color:black !important

}