

nav,
footer {
    background:grey;
    justify-content: space-around;
    font-family: 'Myriad Pro Regular';
    font-weight: bold;
    margin-bottom: 0!important;
}

.nav-link{   text-decoration: none;
    border-radius: 50%;
    padding: 0.5em;
    color: chartreuse;
    text-transform: uppercase;
}

nav a:hover,
footer a:hover {
    background-color:purple;

}