
.user{
    background-color:rgb(235, 216, 168);
    border-radius: 14px;
    font-family: 'Myriad Pro Regular';
    font-weight: 300;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 3px;
    height: 145px;

    left: 20%;
    align-items: center !important;
}

